{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block style%}
<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbar-static/">
<link href="navbar-top.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 fw-normal" align="center">Переменная: {{var.name}}</h1>
    <div class="flex-row">{{title}}</div>
    <div class="flex-row">
        {{ form.hidden_tag() }}
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="flex-row">
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\"><span style=\" font-size:12pt; font-weight:600;\">Примеры диапазона для чисел:</span></p>
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\">range(1, 100) - числа от 1 до 99</p>
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\">range(0, 1001, 100) - числа от 0 до 1000 с шагом 100: 0, 100, 200, 300, ...</p>
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\">[1, 8, 13] - конкретные числа</p>
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\"><span style=\" font-size:12pt; font-weight:600;\">Пример диапазона для текста:</span></p>
        <p style=\" margin-top:12px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;\">[&quot;Ваня&quot;, &quot;Петя&quot;, &quot;Рома&quot;]</p>
    </div>
{% endblock %}