{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block style%}
<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbar-static/">
<link href="navbar-top.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 fw-normal" align="center">Переменная: {{var.name}}</h1>
    <div class="flex-">{{title}}</div>
    <div class="row">
        {{ form.hidden_tag() }}
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}