{% extends "base.html" %}
{% block style %}
   <style>
    .submit_login, .submit_register{
        color: blue;
    }
  </style>
{% endblock %}
{% block header %}
<form action="" method="post">
        <div>
            {{ form.csrf_token }}
        </div>
        <div class="d-flex flex-column">
            {{ form.email }}
            <div class="d-flex flex-row">
                {{ form.submit_login }}
                {{ form.submit_register }}
            </div>
        </div>
  </div>
</form>
{% endblock %}

{% block content %}
<h1>Для работы на сайте необходимо войти или зарегистрироваться</h1>

{% endblock %}